body{
	background-image : url("../img/background.jpg");
	background-size : cover;
}

.logo{
	height : 50px;
	margin-right : 10px;
	margin-bottom : 30px;
}

.logo-text{

	display : inline;
}

#drop-planilha{
	border:2px dashed #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:25px;
	text-align:center;
	font:20pt bold,"Vollkorn";color:#bbb
}

.btn-file{
	position : relative;
	overflow : hidden;
}

.btn-file input[type=file]{
	position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.invalido{
	border-color: red;
}

.valido{
	border-color: green;
}